{% extends 'noun/base.html' %}


{% load staticfiles %}


{% block title %}
    Courses
{% endblock %}


{% block content %}
    <div class="container">
        <div class="collection with-header">
            <li class="collection-header"><h4>Courses </h4></li>

            {% if not courses  %}
                <div>No Course Found For this department</div>
            {% else %}
                {% for course in courses %}
                    <li class="collection-item avatar">
                        <i class="mdi-file-folder circle"></i>
                        <span class="title">{{ course.course_code}}</span>
                        <p>
                            {{ course.course_name }}
                            <br>
                        </p>
                        <a href="/noun/resource/{{ course.slug }}" class="secondary-content">
                            <i class="mdi-action-grade">Download Material</i></a>
                    </li>
                {% endfor %}
            {% endif %}

        </div>
    </div>
{% endblock %}