<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Noun Nigeria</h5>

                <p class="grey-text text-lighten-4">
                    The National Open University of Nigeria is a Federal Open and Distance Learning
                    institution, the first of its kind in the West African sub-region
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">School</h5>
                <ul>
                    <li><a class="white-text" href="#!">Science</a></li>
                    <li><a class="white-text" href="#!">Social-Science</a></li>
                    <li><a class="white-text" href="#!">Education</a></li>
                    <li><a class="white-text" href="#!">Mathematics</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Academic Session</a></li>
                    <li><a class="white-text" href="#!">Student Gist</a></li>
                    <li><a class="white-text" href="#!">Latest News</a></li>
                    <li><a class="white-text" href="#!">VC Office</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Design by <a class="brown-text text-lighten-3" href="http://materializecss.com">Bashir Okene</a>
        </div>
    </div>
</footer>