{% load staticfiles %}
<nav class="white" role="navigation">
    <div class="navbar-fixed">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">
                <img src="{% static 'images/logo_noun_2.png' %}" width="50" height="50"/>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/noun/">Home</a></li>
                <li><a href="{% url 'schools' %}">Schools</a></li>
                <li><a href="/admin">Admin</a></li>
                {% if  user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li>Welcome-{{ user.username }}</li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'registration' %}">Register</a></li>
                {% endif %}

            </ul>
            <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </div>
</nav>