{% extends 'noun/base.html' %}
{% load staticfiles %}


{% block content %}
    <div>
        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br/><br/>

                    <div class="row center">

                    </div>
                    <div class="row center">

                    </div>
                    <div class="row center">

                    </div>
                    <div class="row center">
                        <a href="http://materializecss.com/getting-started.html" id="download-button"
                           class="btn-large waves-effect waves-light teal lighten-1">View Resources</a>
                    </div>
                    <br/><br/>

                </div>
            </div>

            <div class="parallax"><img src="{% static 'images/now_bg.jpg' %}" alt="Unsplashed background img 1"/></div>
        </div>


        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">flash_on</i>
                            </h2>
                            <h5 class="center">Learn New Stuff</h5>

                            <p class="light">
                                We did most of the heavy lifting for you to provide
                                a best material that incorporate our custom lectures.
                                Additionally, we refined resource and books to provide a
                                smoother experience for students.
                            </p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">group</i>
                            </h2>
                            <h5 class="center">Research Lab</h5>

                            <p class="light">By utilizing elements and principles of
                                these Material
                                , we were able to create a e-library that incorporates
                                components and animations that provide more impact to students.
                                Additionally, a single underlying responsive system across all
                                platforms allow for a more unified student experience.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">settings</i>
                            </h2>
                            <h5 class="center">Easy to work with</h5>

                            <p class="light">We have provided detailed documentation as well as
                                specific lab to help new students get started. We are
                                also always open to feedback and can answer any questions a student
                                may have about materials.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}