{% extends 'noun/base.html' %}
{% load staticfiles %}


{% block title %}
    Login
{% endblock %}


{% block content %}

    <div class="section">
        <div class="row">

            <div class="col s5 offset-s1">
                <img src="{% static 'images/noun-ilearn.jpg' %}"/>
            </div>

            <div class="col s4">

                <form id="login_form" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">perm_identity</i>
                            <input type="text" name="username" value="" size="50"/>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">vpn_key</i>
                            <input type="password" name="password" value="" size="50"/>
                            <label for="password">Password</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s6">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                Log In<i class="material-icons right">send</i>
                            </button>
                        </div>

                        <div class="col s6">
                            <a href="{% url 'registration' %}" class="btn waves-effect waves-light" type="submit" name="action">
                                Sign Up<i class="material-icons right">send</i>
                            </a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}