{% extends 'noun/base.html' %}
{% load staticfiles %}


{% block title %}Registration{% endblock %}

{% block content %}
    <div class="container">

        <br/>

        <div class="row">

            <div class="col s4">
                <div class="row">
                    <div class="col s12">
                        <img src="{% static 'images/resources.png' %}" width="500"/>

                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <p>
                            The National Open University of Nigeria is a Federal Open and Distance Learning
                            institution, the first of its kind in the West African sub-region.</p>
                    </div>
                </div>
            </div>

            <div class="col s5 offset-s3">
                {% if isRegistered %}
                    <div class="row">
                        <div class="col s12">Thanks for registering!</div>
                    </div>
                {% else %}
                    <div class="row">
                        <form id="user_form" method="post" action="/noun/register/">
                            {% csrf_token %}
                            <div class="row">
                                <div class=" input-field col s12">
                                    <i class="material-icons prefix">verified_user</i>
                                    {{ student_form.student_id }}
                                    <label class="active" for="student_id">Student ID</label>
                                    <span>{{ student_form.errors }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" input-field col s12">
                                    <i class="material-icons prefix">verified_user</i>
                                    {{ user_form.first_name }}
                                    <label class="active" for="first_name">First Name</label>
                                    <span>{{ user_form.errors }}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class=" input-field col s12">
                                    <i class="material-icons prefix">verified_user</i>
                                    {{ user_form.last_name }}
                                    <label class="active" for="last_name">Last Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" input-field col s12">
                                    <i class="material-icons prefix">verified_user</i>
                                    {{ user_form.email }}
                                    <label class="active" for="last_name">Email</label>
                                    <span>{{ user_form.errors }}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class=" input-field col s12">
                                    <i class="material-icons prefix">verified_user</i>
                                    {{ user_form.password }}
                                    <label class="active" for="last_name">Password</label>
                                    <span>{{ user_form.errors }}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class=" input-field col s12">
                                    <label class="active" for="last_name">Department</label>
                                    {{ student_form.department }}
                                    <span>{{ student_form.errors }}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12 offset-s4">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                        <i class="mdi-content-send right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                {% endif %}
        </div>

    </div>
{% endblock %}
