{% extends 'noun/base.html' %}
{% load staticfiles %}



{% block title %}
    Resources
{% endblock %}


{% block content %}
    <div class="container">
        <ul class="collection">

        {% if not resources %}
            <div>No Material for this course</div>
            {% else %}
            {% for resource in resources %}
                <li class="collection-item avatar">
                    <i class="mdi-file-folder circle"></i>
                    <span class="title">{{ resource.resource_name }}</span>
                    <p>
                        {{ resource.resource_name.course_code }}
                        <br>
                       {{ resource.uploaded_date }}
                    </p>
                    <a href="{{ resource.document_url.url }}" class="secondary-content">
                        <i class="mdi-action-grade">Download</i></a>
                </li>
            {% endfor %}
        {% endif %}

        </ul>
    </div>
{% endblock %}