{% extends 'noun/base.html' %}


{% load staticfiles %}


{% block title %}
    Departments
{% endblock %}


{% block content %}
    <div class="container">
        <div class="collection with-header">
            <li class="collection-header"><h4>Departments </h4></li>

            {% if not departments  %}
                <div>Select a school to show departments</div>
            {% else %}
                {% for department in departments %}
                    <li class="collection-item avatar">
                        <i class="mdi-file-folder circle"></i>
                        <span class="title">{{ department.department_name }}</span>

                        <p>
                            {{ department.department_description }}
                            <br>
                        </p>
                        <a href="/noun/course/{{ department.id }}" class="secondary-content">
                            <i class="mdi-action-grade">View Course</i></a>
                    </li>
                {% endfor %}
            {% endif %}

        </div>
    </div>
{% endblock %}