{% extends 'noun/base.html' %}

{% load staticfiles %}

{% block  title %}
    Schools
{% endblock %}



{% block content %}
    <div class="container">
        <div class="collection with-header">
            <li class="collection-header"><h4>Nation Open University Schools</h4></li>


            {% for school in schools %}
                <li class="collection-item avatar">
                <i class="mdi-file-folder circle"></i>
                <span class="title">{{ school.school_name }}</span>
                <p>
                    {{ school.school_description }}
                    <br>
                </p>
                <a href="/noun/department/{{ school.slug }}" class="secondary-content">
                    <i class="mdi-action-grade">View Department</i></a>
            </li>
            {% endfor %}
        </div>
    </div>
{% endblock %}

